@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
body,
html {
  height: 100%;
  margin: 0;
}
html {
  font-size: 14px;
}

.container-1 {
  background: url(/img/bg-test.jpg);
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
.content-title {
  font-family: "Playfair Display", serif;

  color: black;
  margin-top: 15rem;
  font-weight: 400;
  margin-left: 2.5rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
ul.head-icons {
  display: flex;
  gap: 0px !important;
  list-style: none;
  margin-top: 0;
  padding-top: 0;
  margin-top: -45px;
  padding-left: 10px !important;
}
li > a > img {
  width: 6vw;
  height: 6vh;
  stroke: none;
  border-radius: 0px !important;
}
.title {
  font-size: 4.286rem;
}
.container-2 {
  margin-top: 0;
  width: 1310px;
  height: 399px;
  background-color: #c25309;
}
.slide-1 {
  display: flex;
  width: 100vw;
  margin-left: 0px;
  padding-left: 0px;
  gap: 200px;
  justify-content: flex-start;
}

.cont-img {
  width: 400px;
  height: 300px;
  margin-bottom: 50px;
}
.content-img {
  margin-top: 10px;
  order: 3;
  width: 300px;
  height: 300px;
  padding-bottom: 20px;
}
.content-para1 {
  margin-top: 100px;
  order: 1;
  font-size: 20px;
  margin-bottom: 80px;
  margin-left: 20px;
}
.content-para2 {
  margin-top: 50px;
  order: 2;
  width: 250px;
  font-size: 17px;
}

.container-3 {
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 80vw;
  margin-top: 12.5vh;
  margin-bottom: 40vh;
  margin-left: 10vw;
  margin-right: 10vw;
  gap: 25px;
}
.pic-container-3 {
  height: 600px;
  width: 400px;
}

.title-content-3 {
  font-size: 48px;
}

.paragraph-content-3 {
  font-size: 18px;
}

.button-content-3 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  border: none;
  border-bottom: solid black 2px;
  background-color: white;
  margin-top: 20px;
  cursor: pointer;
}
.container-4 {
  background-color: #f2f2f2;
  padding-top: 30px;
  height: 100vw;
}
.title-container-4 {
  text-align: center !important;
  margin-top: 20px;
  flex-direction: column;
}
.para-title-4 {
  font-size: 48px;
}
.para-sub-title-4 {
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}
.gallery {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
}
.gallery > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
  width: 350px;
  height: 250px;
}
.content-5 {
  float: left;
  width: 33.33%;
  padding: 0px;
  height: 500px;
  color: white;
}
.content-5::after {
  content: "";
  display: table;
  clear: both;
}
div.content-5 > h3 {
  margin-top: 80px;
  font-size: 24px;
}
div.content-5 > h2 {
  font-size: 36px;
}
div.content-5 > p {
  font-size: 19px;
  margin-left: 10px;
  margin-right: 10px;
}
.button-content-5 {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  border: none;
  border-bottom: solid white 2px;
  background-color: inherit;
  margin-top: 20px;
  cursor: pointer;
}
.container-6 {
  display: flex;
  background-image: url("../img/content-6-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 110vh;
  justify-content: space-evenly;
}
div.content-6 > iframe {
  margin: 40px 20px 30px 50px;
}
div.content-6 > h2 {
  margin-top: 90px;
  font-size: 72px;
  color: #f2f2f2;
}
div.content-6 > p {
  margin-top: 50px;
  font-size: 20px;
  margin-right: 40px;
}
div.content-6 > button {
  color: white;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  border: none;
  border-bottom: solid white 2px;
  background-color: inherit;
  cursor: pointer;
  margin-top: 65px;
}
.container-7 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0296b1;
  margin-top: -35px;
}
div.closing > h2 {
  margin-left: 15vw;
  margin-right: 15vw;
  font-size: 48px;
}
div > ul.icons {
  display: flex;
  justify-content: center;
  list-style: none;
}
.closing-icons {
  gap: 5px;
}
footer > p {
  text-align: center;
  background-color: rgb(36, 35, 35);
  color: white;
  margin-top: -15px;
}
@media (max-width: 576px) {
  .container-1 {
    width: 100%;
  }
  ul.head-icons {
    gap: 10px !important;
    margin-left: 25px;
  }
  .container-2 {
    height: 120vh;
    width: 100vw;
  }
  .slide-1 {
    display: flex;
    width: 100vw;
    margin-left: 0px;
    margin-bottom: 20px;
    padding-left: 0px;
    gap: 3px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .cont-img {
    width: 80vw;
    height: 30vh;
    margin-bottom: 20px;
  }
  .content-img {
    margin-top: 10px;
    order: 3;
    width: 80vw;
    height: 30vh;
    padding-bottom: 15px;
  }
  .content-para1 {
    margin-top: 10px;
    order: 1;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .content-para2 {
    margin-top: 10px;
    order: 2;
    width: 90vw;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }

  .container-3 {
    display: flex;
    flex-direction: column;
    height: 205vh;
    width: 80vw;
    margin-top: 12.5vh;
    margin-bottom: 40vh;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 25px;
  }
  .pic-container-3 {
    height: 100vh;
    width: 80vw;
  }

  .title-content-3 {
    font-size: 48px;
  }

  .paragraph-content-3 {
    font-size: 18px;
  }

  .button-content-3 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    border: none;
    border-bottom: solid black 2px;
    background-color: white;
    margin-top: 20px;
    cursor: pointer;
  }
  .container-4 {
    background-color: #f2f2f2;
    padding-top: 30px;
    height: 540vh;
  }
  .title-container-4 {
    text-align: center !important;
    margin-top: 20px;
    flex-direction: column;
  }
  .para-title-4 {
    font-size: 48px;
  }
  .para-sub-title-4 {
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
  }
  .gallery {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
  }
  .gallery > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
    width: 80vw;
    height: 40vh;
  }
  .content-5 {
    float: left;
    width: 100%;
    padding: 0px;
    height: 500px;
    color: white;
  }
  .container-6 {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 250vh;
    justify-content: space-evenly;
    align-items: center;
  }
  div.content-6 > iframe {
    margin: 40px 20px 30px 50px;
    width: 80vw;
    height: 100vh;
  }
  div.content-6 > h2 {
    font-size: 72px;
    color: #f2f2f2;
    text-align: center;
  }
  div.content-6 > p {
    font-size: 20px;
    margin-left: 15vw;
    color: #f2f2f2;
    text-align: center;
  }
  div.content-6 > button {
    color: white;
    font-size: 18px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    border: none;
    border-bottom: solid white 2px;
    background-color: inherit;
    cursor: pointer;
    margin-top: 11px;
    margin-left: 37vw;
  }
  div > ul.icons {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 7px;
  }
}
@media (max-width: 992px) {
  .container-1 {
    width: 100%;
  }
  ul.head-icons {
    gap: 10px !important;
    margin-left: 25px;
  }
  .container-2 {
    height: 120vh;
    width: 100vw;
  }
  .slide-1 {
    display: flex;
    width: 100vw;
    margin-left: 0px;
    margin-bottom: 20px;
    padding-left: 0px;
    gap: 3px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .cont-img {
    width: 80vw;
    height: 30vh;
    margin-bottom: 20px;
  }
  .content-img {
    margin-top: 10px;
    order: 3;
    width: 80vw;
    height: 30vh;
    padding-bottom: 15px;
  }
  .content-para1 {
    margin-top: 10px;
    order: 1;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .content-para2 {
    margin-top: 10px;
    order: 2;
    width: 90vw;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
  }

  .container-3 {
    display: flex;
    flex-direction: column;
    height: 205vh;
    width: 80vw;
    margin-top: 12.5vh;
    margin-bottom: 40vh;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 25px;
  }
  .pic-container-3 {
    height: 100vh;
    width: 80vw;
  }

  .title-content-3 {
    font-size: 48px;
  }

  .paragraph-content-3 {
    font-size: 18px;
  }

  .button-content-3 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    border: none;
    border-bottom: solid black 2px;
    background-color: white;
    margin-top: 20px;
    cursor: pointer;
  }
  .container-4 {
    background-color: #f2f2f2;
    padding-top: 30px;
    height: 540vh;
  }
  .title-container-4 {
    text-align: center !important;
    margin-top: 20px;
    flex-direction: column;
  }
  .para-title-4 {
    font-size: 48px;
  }
  .para-sub-title-4 {
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
  }
  .gallery {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
  }
  .gallery > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
    width: 80vw;
    height: 40vh;
  }
  .content-5 {
    float: left;
    width: 100%;
    padding: 0px;
    height: 500px;
    color: white;
  }
  .container-6 {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 250vh;
    justify-content: space-evenly;
    align-items: center;
  }
  div.content-6 > iframe {
    margin: 40px 20px 30px 50px;
    width: 80vw;
    height: 100vh;
  }
  div.content-6 > h2 {
    font-size: 72px;
    color: #f2f2f2;
    text-align: center;
  }
  div.content-6 > p {
    font-size: 20px;
    margin-left: 15vw;
    color: #f2f2f2;
    text-align: center;
  }
  div.content-6 > button {
    color: white;
    font-size: 18px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    border: none;
    border-bottom: solid white 2px;
    background-color: inherit;
    cursor: pointer;
    margin-top: 11px;
    margin-left: 37vw;
  }
  div > ul.icons {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 7px;
  }
}
